<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<form th:action="@{/admin/saveUser}" method="post">
    <p><label for="name">Name
        <input type="text" id="name" name="name" required>
    </label>
        <br>
        <label for="lastName">LastName
            <input type="text" id="lastName" name="lastName">
        </label>
        <br>
        <label for="age">Age
            <input type="number" id="age" name="age">
        </label>
        <br>
        <label for="password">Password
            <input type="password" id="password" name="password">
        </label>
        <br>
        <input type="submit" value="OK">
    </p>
</form>
<p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</p>
</body>
</html>
