<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<h2>User</h2>
<br>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Password</th>

        <br>

    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:password="${user.password}"></td>
    </tr>
</table>

<br>

<input type="button" value="Logout"
       onclick="window.location.href = '/login'"/>


</body>
</html>